<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{header :: html_header}"></head>

<body>
<header th:replace="header :: my-header"></header>
<section class="breadcrum">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb container">
            <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Danh mục sản phẩm</li>
        </ol>
    </nav>
</section>
<!--====== SHOPPING CART PART START ======-->

<div th:replace="index :: my-cart"></div>

<!--====== SHOPPING CART PART ENDS ======-->

<div class="orfarm-shop-grid-area pt-100 pb-50 ">
    <div class="container">
        <div class="row pb-35">
            <div class="col-4 order-1 ">
                <a th:href="@{/staff/list-order}" class="btn btn-primary">Trở về</a>
                <a th:href="@{'/staff/cart/' + ${preOrder.getId()}}" class="btn btn-warning">Thanh toán</a>

                <div class="orfarm-shop-sidebar">
                    <div class="shop-category-widget">
                        <h4 class="title">Món đã đặt</h4>
                        <table class="table">
                            <thead>
                            <tr>
                                <td class="text-center">
                                    <span class="text-break" >Ten mon</span>
                                </td>
                                <td class="text-center">
                                    <span >Gia tien</span>
                                </td>
                                <td class="text-center">
                                    <span >So luong</span>
                                </td>
                                <td class="text-center">
                                    <span >Trang thai</span>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item, state : ${orderedList}">
                                <td class="text-center">
                                    <span class="text-break" th:text="${item.getProduct().getName()}"></span>
                                </td>
                                <td class="text-center">
                                    <span th:text="${item.product.salePrice}+'đ'"></span>
                                </td>
                                <td class="text-center">
                                    <span th:text="${item.getQuantity()}"></span>
                                </td>
                                <td class="text-center">
                                    <span th:text="${item.getStatus().getText()}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="shop-category-widget">
                        <h4 class="title">Món đã chọn</h4>
                        <table class="table">
                            <tbody>
                            <tr th:each="item, state : ${addedList}">
                                <td class="text-center">
                                    <span class="text-break" th:text="${item.getProduct().getName()}"></span>
                                </td>
                                <td class="text-center">
                                    <span th:text="${item.product.salePrice}+'đ'"></span>
                                </td>
                                <td class="text-center">
                                    <span th:text="${item.getQuantity()}"></span>
                                </td>
                                <td class="text-center">
                                    <span th:text="${item.getStatus().getText()}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row shop-category-widget">
                        <div class="col-6 mx-auto">
                            <a class="btn-success btn" th:href="@{'/staff/order/add/' + ${preOrder.id}}">Đặt món</a>
                        </div>
                        <div class="col-6 mx-auto">
                            <a class="btn-warning btn" th:href="@{'/staff/deleteOrder/' + ${preOrder.id}}">Xoá các món đã
                                chọn</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-8 order-2 ">
                <div class="row">
                    <div class="col-4" th:each="pro, state : ${listProduct}" id="list-product">
                        <div class="single-shop-box">
                            <form th:action="@{'/order/' + ${preOrder.id} + '/addProduct'}" method="post">

                                <div class="thumb text-center">
                                    <img th:src="@{'/image/ImageOrFarm/'+${pro.image}}" alt="">
                                    <div class="reborn">
                                        <span th:if="${pro.percentDiscount!=0}">Sale</span>
                                    </div>
                                    <div class="cart-list-icon">
                                        <ul>
                                            <li class="shopping-bag"><a th:href="@{#}"><i
                                                    class="fal fa-shopping-bag"></i></a></li>
                                            <li><a th:href="@{#}"><i class="fal fa-heart"></i></a></li>
                                            <!--                                            <li><a th:href="@{'/product/' + ${pro.id}}"><i class="fal fa-eye"></i></a></li>-->
                                        </ul>
                                    </div>
                                </div>

                                <div class="content">
                                    <input type="hidden" th:name="productId" th:value="${pro.id}"/>

                                    <div class="row my-auto mx-auto">
                                        <input th:class="col-6" type="number" th:name="quantity" class="input-mini" min="1"/>
                                        <input th:class="col-6" type="submit" value="Đặt món"/>
                                    </div>
                                    <div class="pricing">
                                        <th:block th:if="${pro.percentDiscount!=0}">
                                            <div class="discount-price">
                                                <th:block
                                                        th:with="discountPrice=${(pro.salePrice * (100 - pro.percentDiscount))/100}">
                                                    <span th:text="${format.formatPrice(discountPrice)}"></span><sup>đ</sup>
                                                </th:block>
                                            </div>
                                            <div class="regular-price">
                                                <span th:text="${format.formatPrice(pro.salePrice)}+'đ'"></span>
                                            </div>
                                        </th:block>
                                        <th:block th:unless="${pro.percentDiscount!=0}">
                                            <div class="discount-price">
                                                <span th:text="${format.formatPrice(pro.salePrice)}"></span><sup>đ</sup>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
            <!--            <div class="grid__row grid__row&#45;&#45;spbw grid__row&#45;&#45;item-center mt-50" id="div-pageable">-->
            <!--                <nav aria-label="Page navigation example"-->
            <!--                     class="grid__row grid__row&#45;&#45;spbw grid__row&#45;&#45;item-center text-font-16"-->
            <!--                     style="margin: auto; text-align: center;">-->
            <!--                    <ul class="pagination">-->
            <!--                        <li-->
            <!--                                th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled' }"><a-->
            <!--                                class="page-link" th:href="@{'/category/' + ${categoryId} + '/1'}"-->
            <!--                                tabindex="-1">First</a></li>-->
            <!--                        <li-->
            <!--                                th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled' }">-->
            <!--                            <a class="page-link"-->
            <!--                               th:href="@{'/category/' +${categoryId} + ${currentPage - 1}}"-->
            <!--                               aria-label="Previous"> <span aria-hidden="true">&laquo;</span>-->
            <!--                                <span class="sr-only">Previous</span>-->
            <!--                            </a>-->

            <!--                        </li>-->

            <!--                        <th:block th:if="${totalPage <= 10 && totalPage > 0}">-->
            <!--                            <li th:each="i : ${#numbers.sequence(1, totalPage)}"-->
            <!--                                th:class="${currentPage != i ? 'page-item' : 'page-item active' }"><a-->
            <!--                                    class="page-link" th:href="@{'/category/' + ${categoryId} + '/' + ${i}}"-->
            <!--                                    th:text="${i}"></a></li>-->
            <!--                        </th:block>-->


            <!--                        <th:block th:if="${totalPage > 10}">-->
            <!--                            <th:block-->
            <!--                                    th:if="${currentPage <= 5 || currentPage >= totalPage - 4}">-->
            <!--                                <li th:each="i : ${#numbers.sequence(1, 5)}"-->
            <!--                                    th:class="${currentPage != i ? 'page-item' : 'page-item active' }"><a-->
            <!--                                        class="page-link" th:href="@{'/category/' + ${categoryId} +'/'+ ${i}}"-->
            <!--                                        th:text="${i}"></a></li>-->
            <!--                                <li class="page-item"><a class="page-link"-->
            <!--                                                         th:href="@{'/category/' + ${categoryId} + '/6'}">...</a>-->
            <!--                                </li>-->
            <!--                                <li th:each="i : ${#numbers.sequence(totalPage - 4, totalPage)}"-->
            <!--                                    th:class="${currentPage != i ? 'page-item' : 'page-item active' }"><a-->
            <!--                                        class="page-link" th:href="@{'/category/' + ${categoryId} +'/'+ ${i}}"-->
            <!--                                        th:text="${i}"></a></li>-->
            <!--                            </th:block>-->

            <!--                            <th:block-->
            <!--                                    th:if="${currentPage > 5 && currentPage < totalPage - 4}">-->
            <!--                                <li class="page-item"><a class="page-link"-->
            <!--                                                         th:href="@{'/category/'+${categoryId} +'/' + ${currentPage - 5}}">...</a>-->
            <!--                                </li>-->
            <!--                                <li-->
            <!--                                        th:each="i : ${#numbers.sequence(currentPage - 4, currentPage + 4)}"-->
            <!--                                        th:class="${currentPage != i ? 'page-item' : 'page-item active' }">-->
            <!--                                    <a-->
            <!--                                            class="page-link" th:href="@{'/category/' + ${categoryId} +'/'+ ${i}}"-->
            <!--                                            th:text="${i}"></a></li>-->
            <!--                                <li class="page-item">-->
            <!--                                    <a class="page-link"-->
            <!--                                       th:href="@{'/category/' + ${categoryId} +'/'+ ${currentPage  + 5}}">...</a>-->
            <!--                                </li>-->
            <!--                            </th:block>-->

            <!--                        </th:block>-->


            <!--                        <li-->
            <!--                                th:class="${currentPage < totalPage ? 'page-item' : 'page-item disabled' }"><a-->
            <!--                                class="page-link"-->
            <!--                                th:href="@{'/category/' + ${categoryId} +'/'+ ${currentPage + 1}}"-->
            <!--                                aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span-->
            <!--                                class="sr-only">Next</span>-->
            <!--                        </a></li>-->
            <!--                        <li-->
            <!--                                th:class="${currentPage < totalPage ? 'page-item' : 'page-item disabled' }"><a-->
            <!--                                class="page-link"-->
            <!--                                th:href="@{'/category/' + ${categoryId} +'/'+ ${totalPage}}" tabindex="-1">Last</a>-->
            <!--                        </li>-->
            <!--                    </ul>-->
            <!--                </nav>-->
            <!--            </div>-->
        </div>
    </div>
    <footer th:replace="~{footer :: html_footer}"></footer>
</div>
</div>
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<th:block th:insert="~{header :: script}"></th:block>
</html>