<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{header :: html_header}">

<body>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-sm-12 pt-5 payment-right">
                <div class="name-store" style="color: #333333;">
                    <h4>Thanh toán</h4>

                </div>
                <div>
                    <div class="displayProduct row pt-3 pb-3">
                        <div id="mainCart">
                            <table>
                                <tbody>
                                <tr th:each="cartItem : ${listProductInCart}">
                                    <td>
                                        <div class="img-product ">
                                            <img th:src="@{'/image/ImageOrFarm/'+${cartItem.image}}" alt="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="infor-product pl-3">
                                            <span th:text="${cartItem.productName}"></span>
                                            <div class="discount-price"><span
                                                    th:text="${cartItem.salePrice}"></span><sup>đ</sup>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="buttons_added">
                                            <span th:text="${cartItem.quantity}"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="sumPro">
                                            <span th:text="${cartItem.totalPrice}"></span><sup>đ</sup>
                                        </div>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 payment-left">
                <div class="payment-left-display pr-80">
                    <div class="applyDiscount">
                        <div class="input-group mb-3 ml-4" style="width: 380px;">
                            <input id="promo-code" type="text" class="form-control" placeholder="Mã giảm giá"
                                   height="80px" disabled
                                   aria-label="Recipient's username" aria-describedby="basic-addon2">

                            <button id="myBtn" class="btn btn-success" type="submit">Nhận diện</button>

                        </div>
                    </div>
                    <div class="sumPriceproduct">
                        <p>Tạm tính: <span class="prices" th:text="${tempPrice}"></span> <sup>đ</sup></p>
                        <!--                        <p>Phí ship: <span class="prices" th:text="${ship}"></span> <sup>đ</sup></p>-->
                        <p class="hidden-price">Giảm giá: <span class="padding-price3" id="discount"></span> <sup>%</sup></p>

                    </div>
                    <div class="sumarizePrice ">
                        <p>Tổng tiền: <span class="padding-price" id="totalPrice"></span> <sup>đ</sup></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <canvas id="canvas" width="720" height="480" style="visibility: hidden;"></canvas>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: fit-content !important;">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"
                                                                                                      onclick="stopCamera()">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <video id="video" width="720" height="480" autoplay></video>
                    <span id="messageResp"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="stopCamera()">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const orderId = /*[[${order.id}]]*/
        /*]]>*/
        let video = document.querySelector("#video");
        let canvas = document.querySelector("#canvas");
        let stream;
        const initCamera = async () => {
            stream = await navigator.mediaDevices.getUserMedia({video: true, audio: false});
            video.srcObject = stream;
        }

        const captureImage = async () => {
            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
            let file;
            await canvas.toBlob((blob) => {
                file = new File([blob], "fileName.jpg", {type: "image/jpeg"})
                if (file) {
                    return sendFile(file)
                }
                return false;
            }, 'image/jpeg');

        }
        const stopCamera = () => {
            stream.getTracks().forEach(function (track) {
                track.stop();
            });
        }

        const sendFile = (file) => {
            const data = new FormData();
            data.append('file', file);
            jQuery.ajax({
                url: 'http://localhost:8090/staff/upload-file?' +  $.param({order: orderId}),
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST', // For jQuery < 1.9
                success: function (data) {
                    console.log('send file ' + data);
                    getTotalPriceOrder(orderId)
                    document.getElementById('discount').innerText = data;
                    return true;
                },
                failed: () => {
                    return false;
                }
            });
        }
        const getTotalPriceOrder = (id) => {
            try {
                $.ajax({
                    method: 'POST',
                    url: 'http://localhost:8090/staff/reload',
                    dataType : "json",
                    contentType: "application/json; charset=utf-8",
                    data : JSON.stringify(id),
                    success : function(result) {
                        console.log('total price ' +result);
                        document.getElementById('totalPrice').innerText = result
                    },
                })
            } catch (error) {
                alert(error);
            }
        };
        $(document).ready(function () {
            getTotalPriceOrder(orderId);
            $("#myBtn").click(function () {
                $('#myModal').modal('show');
                (async () => {
                    try {
                        await initCamera();
                        let interval = setInterval(() => {
                            const result = captureImage();
                            if (result) {
                                clearInterval(interval);
                                stopCamera();
                                document.getElementById('messageResp').innerText = 'Nhận diện thành công'
                            } else
                                document.getElementById('messageResp').innerText = 'Nhận diện thất bại'
                        }, 1000 * 5);
                    } catch (error) {
                        alert(error);
                    }
                })()
            });
        });


    </script>
</main>

</body>
<!--====== jquery js ======-->
<th:block th:insert="~{header :: script}"></th:block>


</html>